@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
.row div h3 {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}
  
.row-container {
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
.row {
    display: flex;
    justify-content: space-between;
    width: 600px;
    margin-top: 20px;
    height: 85px;
    margin-bottom: 0;
}
.row  div {
    flex-grow: 1;
    text-align: center;
    border: 1px solid rgba(145, 145, 145, 0.096);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255 255 255 / 10%);
    border-radius: 4px;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: left;
}
.row div:hover {
    background-color: rgba(255, 255, 255, 0.082);
}
.row div img {
    margin-left: 20px;
    display: inline;
    vertical-align: middle;
    width: 30px;
}
.row div p {
    margin-left: 20px;
    margin-top: -10px;
    font-size: 16px;
    color: rgb(202, 202, 202);
}
.row > div {
    flex-basis: 23%;
    margin: 0 5px;
}
@media (max-width: 768px) {
    .row > div {
        margin-top: 20px;
    }
    .row {
        display: block;
        justify-content: space-between;
        width: 300px;
        margin-top: 20px;
        height: 85px;
        margin-bottom: 0;
    }
    #row2 {
        margin-top: 130px;
    }
}
  